Body{
Body{
Font-family:sans;
margin:0;
background:url("https://i.328888.xyz/2023/01/03/tmTYJ.jpeg") 100% bottom no-repeat;
Background-size:contain;
background-color:black;
}
board{
Width:84vw;
height:40vh;
Padding:0 8vw;
Margin:8vw 0;
Position:fixed;
Left:0;
Top:5vh;
Display:flex;
Flex-direction:column;
overflow:auto;
}
board div{
color:#111;
background:#eee;
font-size:0.8rem;
line-height:1.2rem;
padding:0.8rem 1rem;
border-radius:10px;
margin-bottom:1rem;
}
