Body{
margin:0;
Background:black;
}
Img{
Position:fixed;
Bottom:0;
Width:100vw;
object-fit:contain;

}
board{
Width:84vw;
height:40vh;
Padding:0 8vw;
Margin:8vw 0;
Position:fixed;
Left:0;
Top:5vh;
Display:flex;
Flex-direction:column;
overflow:auto;
}
board div{
color:#111;
background:#eee;
font-size:0.8rem;
line-height:1.2rem;
padding:0.8rem 1rem;
border-radius:10px;
margin-bottom:1rem;
}
